<%- include('partials/header.ejs') %>
<!-- =======================================-->

<h1>consulta: <%= consulta.description %></h1>
<hr>
<h4>Paciente: <%= consulta.name %></h4>
<h4>Email: <%= consulta.email %></h4>
<h4>CPF: <%= consulta.cpf %></h4>
<hr>

<% if(!consulta.finished){ %>
    <form action="/cadastro/finish" method="post">
        <input type="hidden" value="<%= consulta._id %>">
        <button class="btn btn-success">Finalizar</button>
    </form>

<% } %>





<!-- =======================================-->
<%- include('partials/footer.ejs') %>

