<%- include('partials/header.ejs') %>
<!-- =======================================-->



<h3>Consultas</h3>
<hr>
<form action="/cadastro/list/search" method="get">
    <input type="search" name="search" id="search" placeholder="digite email ou cpf do cliente">
    <button>Pesquisar</button>
</form>

<% consultas.forEach(consulta=>{%>

    <h1>consulta: <%= consulta.description %></h1>
    <hr>
    <h4>Paciente: <%= consulta.name %></h4>
    <h4>Email: <%= consulta.email %></h4>
    <h4>CPF: <%= consulta.cpf %></h4>
    <hr>

<% })%>




<!-- =======================================-->
<%- include('partials/footer.ejs') %>
