<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Primeiro</th>
            <th scope="col">Último</th>
            <th scope="col">Nickname</th>
        </tr>
    </thead>
    <tbody>
        {{#with sqlResult}}
        {{nomeColunas}}
            {{#each rows as |row|}}
                <tr>
                    <!--{{.}}-->
                    <!--{{@index}}-->
                    <!--{{@key}}-->
                    <!--{{@root}}-->
                    <!--{{@first}}-->
                    <!--{{@last}}-->
                    <!--{{@this}}-->


                    {{#each row}}
                        <!--indexColuna: {{@index}}-->
                        <!--<br>-->
                        <!--chave: {{@key}}-->
                        <!--<br>-->
                        <!--valor: {{this}}-->
                        <!--<br>-->
                        <!--<th scope="row">1</th>-->
                        <td>{{this}}</td>

                    {{/each}}

                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
            {{/each}}
        {{/with}}

    </tbody>
</table>